<!doctype html>
<html>

	<head>
		<title>Secret Movie Room</title>

		<script type="text/javascript" src="/static/js/jquery-2.0.2.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/_ah/channel/jsapi"></script>
		<script type="text/javascript" src="/static/js/video.dev.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/video-js.css">

		<style type="text/css">
		.vjs-control-bar { font-size: 93% }
		</style>
	</head>

	<body>


		<div id="display">
			{{ room_id }}
			{{ token }}
			{{ client_id }}
		</div>

		<div><a href="/?room_id={{room_id}}">localhost:10080/?room_id={{room_id}}</a></div>
		<div id="status"></div>
		<div id="videonotif"></div>

		<video id="player" class="video-js vjs-default-skin"
		  controls preload="auto" width="640" height="264"
		  data-setup='{ "controls": true, "autoplay": false, "preload": "auto" }'>
		 <source src="http://ddmm37kppyxwy.cloudfront.net/Daft%20Punk%20-%20Get%20Lucky%20__%20George%20Barnett%20cover.mp4" type='video/mp4' />
		</video>

		<!-- Video.js Scripts -->
		<script type="text/javascript">
			videojs.options.flash.swf = "/static/video-js.swf"

			var myPlayer = videojs("player");
			var lastPlayTime;
			var lastPaused = true;

			myPlayer.ready(function(){
	  			var myPlayer = this;

	  			setInterval(function() {   				
	  				// check if paused
	  				var paused = myPlayer.paused() ? 1 : 0;
	  				$.post('/paused', {paused: paused, room_id: room_id, client_id: client_id});

	  				var changed = (paused !== lastPaused);
	  				lastPaused = paused;

	  				if (!changed) {
						// check time
						var time = myPlayer.currentTime();
						var dt = Math.abs(time - lastPlayTime);
						lastPlayTime = time;
						if (dt > 1.5) { 
							// 1.5sec threshold perturbation
							$.post('/seek', {time: time, room_id: room_id, client_id: client_id});
						}
					} else if (!paused && changed) { 
						// started playing after pause
						lastPlayTime = myPlayer.currentTime();
					}
				}, 1000)
		
			});

			var token = '{{ token }}';
			var room_id = '{{ room_id }}';
			var client_id = '{{ client_id }}';

			var onMessage = function(m) {
				update = JSON.parse(m.data);
				if (update['type'] == 'presence') {
					//presence message
					var client_id = update['client_id'];
					var connect = (update['connect']) ? 'connected' : 'disconnected';
					$('#status').text('User ' + client_id + ' has ' + connect + '.');

				} else if (update['type'] == 'paused') {
					// video notification
					var paused = update['paused'];
					var client_id = update['client_id'];
					if (paused) {
						myPlayer.pause();
						$('#videonotif').text('User ' + client_id + ' paused the video.');
					} else {
						myPlayer.play();
						$('#videonotif').text('User ' + client_id + ' played the video.');
					}

				} else if (update['type'] == 'seek') {
					//update message
					time = update['time'];
					client_id = update['client_id'];

					myPlayer.currentTime(time);					

					$('#videonotif').text('User ' + client_id + ' seeked within the video.');
				}				
			}

			channel = new goog.appengine.Channel('{{ token }}');
			socket = channel.open();

			socket.onmessage = onMessage;
		</script>

	</body>

</html>